<h2>Consulta el Salario</h2>
<div class="formulario">
    <form id="formulario-consulta-dni" th:action="@{/index}" method="get">
        <input type="hidden" name="opcion" value="consulta">
        <div class="form_group">
            <input class="form_field" type="text" id="dni" name="dni" placeholder="Ej: 12345678A" required>
            <label class="form_label" for="dni">Introduce el dni que deseas buscar:</label>
        </div>
        <div>
            <input type="submit" value="Buscar">
        </div>
    </form>
</div>